body{
    background-color: #FFDEAD;
    width: 700px;
    text-align: center;
    margin-left: 400px;
}
img{
    width: 300px;
    height: 300px;
    margin-left: 30px;
}
h1,h2,h3{
    font-family: verdana;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 20px;
}
a{
    font-size: 20px;
    width: bold;
    text-decoration: none;
    color: blue;
    background-color: lime;
    border-radius: 30px;
}